doctype html
html
    head
        title Form Tester
    body
        form(action = "/", method = "POST")
            div
                label(for = "url") Enter URL:
                input(name = "long" id = "url_input")
            br
            button(type = "submit") Shorten it!
            p= msg
