doctype html
html
    head
        title URL Shortener
        link(rel='stylesheet', type='text/css', href='/styles.css')

    body
        h1 URL Shortener By Jinglin Xu
        form(action = "/", method = "POST")
            div
                label(for = "url") Enter Your URL:
                input(name = "long" id = "url_input")
                button(type = "submit") Shorten it!
                p= msg
